---
---
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Clip ─ Antipub</title>
  <link rel="icon" type="image/png" href="/ressources/favicon.png">
  <link rel="shortcut icon" href="/ressources/favicon.ico">
  {% feed_meta %}
  <link rel="stylesheet" href="/ressources/fonts.css">
  <link rel="stylesheet" href="/ressources/style.css">
</head>
<body>

<h1>Clip ─ Antipub</h1>

<header>
  <p>Le Clip est un collectif suisse basé à Lausanne qui lutte contre les effets négatifs de la publicité. Il exerce son activité sous la forme d'un travail : 1.- de veille et d'analyse des pratiques publicitaires. ─ 2.- de documentation et d'information à l'attention du public. ─ 3. d'actions menées contre le système publicitaire.</p>
</header>

<nav>
  {% for page in site.posts %}
    <a href="#{{page.id}}">{{page.title}}</a><br>
  {% endfor %}
</nav>

{% for page in site.posts %}
  <hr>
  <article id="{{page.id}}">
    <h2>{{ page.title }}</h2>
    <time>{{ page.date | date: "%Y.%m.%d" }}</time>
    {{ page.content }}
  </article>
{% endfor %}

<footer><a href="https://github.com/clip-antipub/clip-antipub.github.io">Source</a> ─ <a href="mailto:clip.antipub@gmail.com">Contact</a></footer>

</body>
</html>
